INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/org.cinnamon.ScreenSaver.service
data/org.cinnamon.ScreenSaver.PAMHelper.service
depcomp
files/Makefile
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
omf.make
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
src/.deps/
src/Makefile
src/Makefile.in
src/cinnamon-screensaver
src/cinnamon-screensaver-command
src/cinnamon-screensaver-pam-helper
src/cinnamon-screensaver.desktop
src/cinnamon-screensaver.desktop.in
src/__pycache__
stamp-h1
xmldocs.make
