Source: cinnamon-screensaver
Section: x11
Priority: optional
Maintainer: Linux Mint <root@linuxmint.com>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               dh-python,
               gnome-common,
               gnome-pkg-tools (>= 0.10)
Standards-Version: 3.9.6

Package: cinnamon-screensaver
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: cinnamon-desktop-data (>= 3.0.0),
         dbus-x11,
         gir1.2-webkit2-3.0,
         gnome-icon-theme (>= 2.15.90),
         python3,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Recommends: libpam-gnome-keyring,
            xscreensaver-data,
            xscreensaver-data-extra,
            xscreensaver-gl,
            xscreensaver-gl-extra
Description: Cinnamon screen saver and locker
 cinnamon-screensaver is a screen saver and locker that aims to have simple,
 sane and secure defaults, and be well integrated with the Cinnamon desktop.
