#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_strip:
	dh_strip --dbg-package=libcscreensaver-dbg

override_dh_auto_configure:
	dh_auto_configure -- \
	--libexecdir=libexec \
	--buildtype=debugoptimized \
	-D use-debian-pam=true \

execute_after_dh_fixperms:
	: # fix executable libraries
	chmod 0644 debian/cinnamon-screensaver/usr/libexec/cinnamon-screensaver/girepository-1.0/CScreensaver-1.0.typelib
	chmod 0644 debian/cinnamon-screensaver/usr/libexec/cinnamon-screensaver/libcscreensaver.so

# there has never been a testsuite, so don't try running it and breaking
# just because there isn't one
override_dh_auto_test:

override_dh_python3:
	dh_python3 usr/share/cinnamon-screensaver
