.unlockbox {
    color: #eeeeee;
    font-size: 20px;
    text-shadow: 1px 1px alpha(black, 0.8);
}

.clock {
    padding: 100px 200px 100px 200px;
    color: #eeeeee;
    text-shadow: 1px 1px alpha(black, 0.8);
}

.topbar {
    border-color: alpha(white, .2);
    border-style: solid;
    color: white;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
}

.audiobar {
    border-width: 0 1px 1px 0;
    border-radius: 0 0 3px 0;
}

.infobar {
    border-width: 0 0 1px 1px;
    border-radius: 0 0 0 3px;
}

.notificationwidget,
.powerwidget {
    font-size: 12px;
    font-weight: bold;
    border-color: alpha(white, .2);
    border-style: solid;
    border-radius: 2px;
    color: white;
    background-color: transparent;
    background-image: none;
    text-shadow: 1px 1px alpha(black, 0.8);
    padding: 6px;
}

.auth-message {
    font-size: 12px;
    color: red;
}

.caps-message {
    font-size: 12px;
    color: orange;
}

.framedimage {
    border-radius: 4px;
    border: 4px solid;
    background-color: alpha(grey, .25);
    background-clip: border-box;
    border-color: alpha(white, .7);
    box-shadow: 1px 1px alpha(black, 0.8);
}

.passwordentry {
    font-size: 11px;
    box-shadow: none;
    border-color: alpha(white, .2);
    border-style: solid;
    color: white;
    background-image: none;
    background-color: transparent;
    border-width: 1px;
}

.passwordentry.progressbar {
    margin: 2px;
    padding: 0;
    border-radius: 0;
    border-width: 0 0 2px;
    border-color: alpha(@theme_selected_bg_color, .7);
}

.passwordentry.progressbar:focused {
    background-color: transparent;
}

.passwordentry.image.left {
    padding: 0 10px 0 0;
}

.transparentbutton {
    border-color: alpha(white, .2);
    box-shadow: none;
    background-image: none;
    background-color: transparent;
    border-radius: 20px;
    outline-radius: 20px;
    outline-color: transparent;
    color: alpha(white, .7);
    border-width: 1px;
}

.transparentbutton:insensitive {
    color: #333333;
}

.passwordentry:focused,
.transparentbutton:focused {
    background-color: alpha(grey, .3);
    border-color: @theme_selected_bg_color;
    box-shadow: 1px 1px alpha(white, 0.1);
}

.passwordentry:prelight,
.transparentbutton:prelight {
    border-color: alpha(white, .2);
    background-color: alpha(grey, .2);
    box-shadow: 1px 1px alpha(white, 0.1);
}

.passwordentry:prelight:focused,
.transparentbutton:prelight:focused {
    border-color: @theme_selected_bg_color;
    background-color: alpha(grey, .4);
    box-shadow: 1px 1px alpha(white, 0.1);
}

.passwordentry:active,
.transparentbutton:active {
    border-color: @theme_selected_bg_color;
    background-color: alpha(grey, .6);
    box-shadow: 1px 1px alpha(white, 0.1);
}

.passwordentry:active:focused,
.transparentbutton:active:focused {
    border-color: @theme_selected_bg_color;
    background-color: alpha(grey, .9);
    box-shadow: 1px 1px alpha(white, 0.1);
}

.volumeslider {
    -GtkScale-slider-length: 4;
    -GtkRange-slider-width: 24;
    border-color: @theme_bg_color;
    background-color: @theme_selected_bg_color;
    border-style: solid;
    padding: 3px 0px 3px 0px;
}

.volumeslider:insensitive {
    background-color: alpha(white, .5);
}

.positionlabel {
    font-family: monospace;
    font-size: 10px;
    text-shadow: 1px 1px alpha(black, 0.8);
}

.trackname {
    font-family: monospace;
    font-size: 10px;
    text-shadow: 1px 1px alpha(black, 0.8);
}

.albumartist {
    font-family: monospace;
    font-size: 8px;
    text-shadow: 1px 1px alpha(black, 0.8);
}

.positionbar {
    -GtkProgressBar-min-horizontal-bar-height: 10;
    -GtkProgressBar-min-horizontal-bar-width: 180;
}